// Mixins
@mixin MQ($canvas) {
    @if $canvas == S {
      @media only screen and (min-width: $sm-break) { @content; } 
    }
  }
  @mixin grid($type, $position_y, $position_x) {
    display: $type;
    align-content: $position_y;
    justify-content: $position_x;
  }
  @mixin position($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  @mixin grid_span($start, $end) {
    grid-column: #{$start} / #{$end};
  }