@import 'typography';
@import 'icons';
@import 'variables';
@import 'mixins';
@import 'classes';

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}