@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;
$font-fam: 'BYUI Open Sans';
$border: 1px solid $med-gray;

// Mixins
@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $sm-break) { @content; } 
  }
}
@mixin grid($type, $position_y, $position_x) {
  display: $type;
  align-content: $position_y;
  justify-content: $position_x;
}
@mixin position($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin grid_span($start, $end) {
  grid-column: #{$start} / #{$end};
}

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.site-banner {
  background-color: $byui-blue;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
  height: 15vh;
  position: relative;
  &__left {
    @include grid_span(1, 2);
    span {
      @include grid(grid, center, center);
      @include position(0, null, 50%, 0);
      background-color: black;
      position: absolute;
      width: 100px;
      font-size: 40px;
    }
    h1 {
      @include grid(grid, center, null);
      @include position(50%, 0, 0, 0);
      @include MQ(S) {
        text-align: left;
      }
      background-color: #b4b3b5;
      position: absolute;
      color: black;
      text-align: right;
      padding: 0 15px;
    }
  }
  &__right {
    @include grid(grid, center, center);
    @include position(0, 0, 50%, null);
    @include grid_span(2, 3);
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    width: 150px;
    text-align: center;
    padding-right: 15px;
    .mobile-header-icon {
      font-size: 30px;
    }
  }
}
.white-text {
  * {
    color: white;
    text-decoration: none;
  }
}
img {
  width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.mainGrid {
  display: grid;
  font-family: $font-fam;
  .innerGrid {
    display: grid;
    @include grid_span(2, 3);
    margin: 10px;
    div {
      .tile {
        @include grid(grid, center, null);
        width: 100%;
        height: auto;
        margin: 10px 0;
        div {
          border: $border;
          padding: 7.5px;
          color: $link-blue;
        }
      }
    }
  }
  aside {
    @include grid_span(3, 4);
  }
  @include MQ(S) {
    grid-template-columns: 1fr 3fr 1.5fr 1fr;
    grid-gap: 2vw;
    margin-top: 2vh;
    .innerGrid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2vw;
      margin: 0;
    }
    .largeImg {
      @include grid_span(1, 4);
    }
  }
}
.date {
  font-size: 12px;
}
.inner_2 {
  position: relative;
  .largeImg {
    border-top: 1px solid #b9b9b9;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 3fr;
    grid-gap: 25px;
    padding: 10px 0;
    .link {
      color: $link-blue;
    }
    div {
      @include grid(grid, start, null);
    }
    .description {
      p {
        margin: 5px 0;
      }
    }
  }
}
main {
  padding: 15px 0;
}
.innerAside {
  margin: 10px;
  @include MQ(S) {
    margin: 0;
  }
  div {
    margin-bottom: 10px;
  }
  .getTile {
    background-color: $light-gray;
    border: $border;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
  }
  .resources {
    div {
      border-bottom: $border;
      border-left: $border;
      border-right: $border;
      margin: 0;
      padding: 5px 10px;
    }
    div:nth-child(1) {
      background-color: $dark-gray;
      color: white;
      font-weight: bold;
    }
    a {
      color: $link-blue;
      text-decoration: none;
    }
  }
  .dates {
    div {
      margin: 0;
      padding: 5px 10px;
      @include grid(grid, center, null);
    }
    .title {
      background-color: $byui-blue;
      color: white;
      font-weight: bold;
    }
    .dateGrid {
      border-bottom: 1px solid #b9b9b9;
      display: grid;
      grid-template-columns: 1fr .5fr 2fr;
    }
  }
}
.aside_2 {
  border: $border;
  border-radius: 10px;
  img {
    border-radius: 10px 10px 0 0;
  }
  div {
    padding: 15px 20px;
    .link {
      color: $link-blue;
    }
    p {
      margin: 10px 0;
    }
  }
  button {
    background-color: $byui-blue;
    margin: 5px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: $font-fam;
    color: white;
  }
}
.newsButton {
  @include grid(grid, center, center);
  .button {
    @include grid_span(3, 4);
    background-color: $byui-blue;
    margin: 5px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: $font-fam;
    color: white;
  }
}
.taylor {
  @include grid_span(1, 5);
  @include grid(grid, center, center);
  padding: 0;
  margin: 0;
  img {
    width: 175px;
  }
}